<div #divElement class="focus">
  <h2>
    Currently focused: {{clickObservable$ | async}}
  </h2>
  <p>
    <select>
      <option>Option 1</option>
      <option>Option 1</option>
    </select>
  </p>

  <p>
    <input type="date" />
    <button>I'm a button</button>
  </p>

  <p>
    <label>
      <input type="radio" />
      Option 1
    </label>
    <label>
      <input type="radio" />
      Option 2
    </label>
  </p>
</div>
<p>
  <label>
    Just an input
    <input placeholder="Focus can be here" />
  </label>
  <button>I'm a button</button>
</p>

<a routerLink="/">Назад</a>

